* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: rgb(58, 58, 58);
}
.logo {
  width: 100px;
  border: solid 3px rgb(240, 238, 238);
  border-radius: 20%;
  margin-left: 10px;
  margin-top: 10px;
}